# Gradle
.gradle/
build/

# ----------------------------------------------------------------------
# Custom Deployment & Serverless Artifacts (My Additions)
# ----------------------------------------------------------------------
deploy-native/application
deploy-native/*.zip
bootstrap
function.zip

# ----------------------------------------------------------------------
# Security: Google Cloud Credentials & Secrets
# ----------------------------------------------------------------------
*srs-wp-project*.json
*-key.json
credentials.json
# ----------------------------------------------------------------------

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX / Linux
.DS_Store
*~

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/